$primary-color: #ffc87a;
$text-color: #1a2b5f;

html {
    font-size: 62.5%; // 1rem = 10px
}

*,
*::before,
*::after {
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: $text-color;
    font-weight: 400;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header {
    padding-top: 4rem;
    &__inner {
        @include flex(center, space-between);
    }
    &__menu {
        &-list {
            @include flex(flex-start, center);
        }
        &-item {
            margin-left: 5rem;
            &:last-child {
                margin-left: 7rem;
            }
        }
        &-link {
            font-size: 1.6rem;
            color: $text-color;
            transition: color 0.25s linear, border 0.25s linear;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.banner {
    padding-top: 140px;
    padding-bottom: 18rem;
    margin: 0 auto;
    text-align: center;
    max-width: 75rem;
    &__heading {
        font-size: 6rem;
        font-weight: 600;
        margin-bottom: 3.5rem;
    }
    &__desc {
        font-size: 2.3rem;
        margin-bottom: 4.5rem;
    }
    &__buttons {
        @include flex(stretch, center);
        .btn {
            margin: 0 1rem;
        }
    }
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: $text-color;
    &__text {
        color: $primary-color;
    }
}

.btn {
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem 3rem;
    color: $text-color;
    font-weight: 600;
    background-color: transparent;
    &--rounded {
        border-radius: 5rem;
    }
    &--border {
        border: 1px solid;
    }
    &--primary {
        background-image: linear-gradient(#ffea7b, #ffca7a);
        &.has-shadow {
            box-shadow: 0 10px 35px -5px $primary-color;
        }
    }
}